:root {
  --mainPurple: #AD1FEA;
  --mainBlue: #4661E6;
  --lightBlue: #62BCFA;
  --lightGray: #647296;
  --mediumGray: #373F68;
  --darkGray: #3A4374;
  --white: #ffffff;
  --mediumWhite: #F7F8FD;
  --darkWhite: #F2F4FF;
  --orange: #F49F85;
}