.el-card {
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
	&.is-always-shadow {
		box-shadow: none;
	}
	&.small {
		width: 250px;
		height: auto;
	}
	&.banner {
		background-color: var(--darkGray);
		color: var(--white);
		.el-card__body {
			width: 100%;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
	}
	&.feedback-card {
		cursor: pointer;
		&:hover {
			h6 {
				color: var(--mainBlue);
			}
		}
	}
	&.row {
		.el-card__body {
			width: 100%;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
	}
	.el-card__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.el-checkbox {
	font-weight: 500;
	color: var(--mainBlue);
	background-color: var(--darkWhite);
	&:hover {
		background-color: #CFD7FF;
	}
	.el-checkbox__label {
		padding: 0;
	}
	&.is-bordered {
		border: none;
		border-radius: 10px;
		&.el-checkbox--small {
			border-radius: 10px;
			padding: 15px;
		}
	}
	&.is-checked {
		background-color: var(--mainBlue);
		.el-checkbox__label {
			color: var(--white);
		}
	}
	.el-checkbox__input {
		display: none;
	}
}

.el-button {
	border-radius: 10px;
	font-family: 'Jost';
	&.blue {
		background-color: var(--mainBlue);
		border-color: transparent;
	}
	&.vote {
		display: flex;
		flex-direction: column;
		color: var(--darkGray);
		font-weight: bold;
		font-size: 13px;
		background-color: var(--darkWhite);
		border: none;
		padding: 25px 10px;
		&::before {
			content: "^";
			color: var(--mainBlue);
		}
		&:hover {
			background-color: #CFD7FF;
		}
		&:active, &.voted-by-user {
			color: var(--white);
			background-color: var(--mainBlue);
			&::before {
				color: var(--white);
			}
		}
	}
}

.el-select {
	.el-input {
		border: none;
	}
	&.transparent {
		.el-input__wrapper {
			background-color: transparent;
			.el-icon {
				color: var(--white);
			}
		}
		.el-input__inner {
			color: var(--white);
			font-weight: bold;
		}
	}
	.el-icon {
		svg {
			color: var(--mainBlue);
		}
	}
}

.el-input__wrapper, .el-textarea__inner {
	padding: 10px 20px;
	background-color: var(--mediumWhite);
}

.el-tag {
	border-radius: 10px;
	border: none;
	font-weight: 500;
	color: var(--mainBlue);
	background-color: var(--darkWhite);
	padding: 5px 15px;
}

.el-form {
	width: 100%;
	.el-form-item__label {
		color: var(--lightGray);
	}
	.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
		content: ''
	}
}